*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#e8f0ff;
font-family:Arial, Helvetica, sans-serif;

}

.container{

width:380px;

margin:60px auto;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,.2);

text-align:center;

}

h1{

color:#1565c0;

margin-bottom:20px;

}

.jam-box{

background:#1565c0;

color:white;

padding:20px;

border-radius:10px;

margin-bottom:20px;

}

input{

width:100%;

padding:12px;

font-size:16px;

margin-bottom:20px;

border:1px solid #ccc;

border-radius:8px;

}

button{

width:100%;

padding:14px;

background:#1565c0;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#0d47a1;

}

#hasil{

margin-top:20px;

font-size:16px;

}

#loading{

margin-top:15px;

color:red;

}